<footer class="site-footer">
    <div class="site-footer-top-part">
        <div class="container sf-tp-container">
            <div class="sf-tp-container-left">
                <div class="sf-tp-part-title">Каталог</div>
                <div class="sf-tp-part-cols-wrap">
                    <div class="sf-tp-part-col">
                        <a href="">Керамическая плитка и керамогранит</a>
                        <a href="">Ламинат и Паркетная доска</a>
                        <a href="">Мозайка</a>
                        <a href="">Искусственный камень</a>
                        <a href="">Ревизионные люки</a>
                        <a href="">Лепной декор</a>
                    </div>
                    <div class="sf-tp-part-col">
                        <a href="">Зеркальная плитка с фацетом</a>
                        <a href="">Мебель для ванной</a>
                        <a href="">Клинкерные ступени</a>
                        <a href="">Теплые полы</a>
                        <a href="">Светодиодные светильники</a>
                        <a href="">Строительные смеси</a>
                    </div>
                    <div class="sf-tp-part-col">
                        <a href="">Система выравнивания плитки</a>
                        <a href="">Стабилизированный мох</a>
                        <a href="">Фото печать</a>
                        <a href="">Прокат инструмента</a>
                    </div>
                </div>
            </div>
            <div class="sf-tp-container-right">
                <div class="sf-tp-part-title">Информация</div>
                <div class="sf-tp-part-cols-wrap">
                    <div class="sf-tp-part-col">
                        <a href="">Каталог</a>
                        <a href="">Акции</a>
                        <a href="">Доставка и оплата</a>
                        <a href="">Вызов мастера / замера</a>
                        <a href="">Контакты</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer-bottom-part">
        <div class="container sf-bp-container">
            © 2019, Kotto - Керамическая плитка в Курске
        </div>
    </div>
</footer>
