<header class="site-header" id="masthead">
    <div class="sh-top-part">
        <div class="container sh-top-part-container">
                <a href="" class="sh-top-logo-wrap"><span class="sh-top-logo-wrap__logo"><img src="img/logo.png" alt=""></span>
                    <span class="sh-top-logo-wrap__info">
                        <h1>КЕРАМИЧЕСКАЯ ПЛИТКА В КУРСКЕ</h1>
                        <p>Красота и разнообразие керамичиской плитки</p>
                    </span>
                </a>
                <div class="sh-tp-addr">
                    <p>ул. Бойцов 9 Дивизии, 179а - 2 этаж</p>
                    <p>Пн-Пт: 10:00 – 19:00; Сб-Вс: 10:00 – 17:00</p>
                </div>
                <div class="sh-tp-contact">
                    <a href="tel:74712305059">+7 (4712) 30-50-59</a>
                    <a href="#callMaster">Вызвать мастера / замерщика</a>
                </div>
        </div>

    </div>
    <div class="sh-bottom-part">
        <div class="container">
            <nav class="site-header-menu">
                <a href="">Каталог</a>
                <a href="">Акции</a>
                <a href="">Доставка и Оплата</a>
                <a href="">Вызов замера / мастера</a>
                <a href="">О компании</a>
                <a href="">Контакты</a>
            </nav>
        </div>
    </div>
</header>
