.site-footer {}

.site-footer-top-part {
    width: 100%;
}

.sf-tp-container {}

.sf-tp-container-left {}

.sf-tp-container-right {}

.sf-tp-part-title {}

.sf-tp-part-cols-wrap {

    a {
        &:hover {}

        &:active {}

        &:focus {}
    }

    a {
        &:hover {}

        &:active {}

        &:focus {}
    }
}

.sf-tp-part-col {}

.sf-tp-part-title {}

.sf-tp-part-cols-wrap {

    a {
        &:hover {}

        &:active {}

        &:focus {}
    }
}

.sf-tp-part-col {}

.site-footer-bottom-part {
    background-color: #201e1e;
    width: 100%;
}

.sf-bp-container {

    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
