.site-header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    padding-top: 17px;
    transition-duration: .2s;
}

.sh-top-part {
    overflow: hidden;
    width: 100%;
    max-height: 1000px;
    padding-bottom: 12px;
    transition-duration: .2s;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.sh-top-part-container {
    display: flex;
}

.sh-top-logo-wrap {
    display: flex;
    align-items: center;
    flex-grow: 1;

    &__logo {
        width: 74px;
        height: 75px;
        margin-right: 24px;

        img {
            max-width: 100%;
            max-height: 100%;
            line-height: 1
        }
    }

    &__info {
        h1 {
            color: #ffffff;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }

        p {
            color: #cccccc;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
        }
    }

}

.sh-tp-addr {
    margin-left: 49px;
    padding-top: 17px;

    p:first-child {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

        &::before {
            display: block;
            width: 18px;
            height: 18px;
            margin-right: 4px;
            margin-left: -20px;
            content: '';
            background: url('../img/map-mark.svg') no-repeat center center;
            background-size: contain;
        }
    }

    p:nth-child(2) {
        color: #cccccc;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
    }
}

.sh-tp-contact {
    margin-left: 49px;
    padding-top: 17px;

    a {
        display: flex;
        align-items: center;

        &:hover {
            opacity: .8;
        }
    }

    a:first-child {
        color: #ffffff;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        &::before {
            display: block;
            width: 18px;
            height: 18px;
            margin-right: 4px;
            content: '';
            background: url('../img/phone-icon.svg') no-repeat center center;
            background-size: contain;
        }
    }

    a:nth-child(2) {
        text-decoration: underline;
        color: #f06e4b;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
    }
}

.sh-bottom-part {
    margin-top: 27px;
    transition-duration: .2s;
}

.sh-bottom-part-container {
    display: flex;
    align-items: center;

}

.site-header-menu {
    flex-grow: 1;
    margin-right: 30px;
}

.site-header-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -19px;

    a {
        display: block;
        margin: 0 19px;
        transition-duration: .2s;
        color: #ffffff;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;

        &:hover {
            opacity: .7;
        }

        &:active {}

        &:focus {}
    }
}

.free-zamer {
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 11px 16px;
    cursor: pointer;
    transition-duration: .2s;
    color: #ffffff;
    border-radius: 18px;
    background-color: #ea5941;
    background-image: linear-gradient(to bottom, #e96541 0%, #f94c4c 100%);
    font-weight: 500;
    font-size: 14px;
    line-height: 1;

    &:hover {
        opacity: .8;
    }

    &::before {
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 9px;
        content: '';
        background: url(../img/phone-icon-w.svg) no-repeat center center;
        background-size: contain;
    }
}

@media screen and(min-width:851px) {
    .sh-scrolled {
        padding: 0;

        .sh-top-part {
            max-height: 0;
            padding: 0;
            border-bottom: 0;
        }

        .free-zamer {
            display: flex;
        }

        .sh-bottom-part {
            margin-top: 0;
            padding: 12px 0;
            background-color: #292624;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        }
    }
}


.site-header-burger {
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;

    span,
    span::before,
    span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 2px;
        margin-top: -1px;
        margin-left: -15px;
        background-color: #fff;
    }

    span::before,
    span::after {
        content: '';
        transition: 0.2s;
    }

    span::before {
        transform: translateY(-8px);
    }

    span::after {
        transform: translateY(8px);
    }

    &--active {
        span {
            height: 0;

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}


@media screen and(max-width:1130px) {
    .sh-tp-addr {
        display: none;
    }
}

@media screen and(min-width:851px) {

    .site-header-burger {
        display: none;
    }
}

@media screen and(max-width:850px) {
    .sh-top-logo-wrap__info {
        display: none;
    }

    .sh-top-part-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sh-top-logo-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site-header {
        padding-top: 0;
        background-color: #292624;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    }

    .sh-top-part {
        padding: 8px 0;
        border-bottom: 0;
    }

    .site-header-menu {
        display: block;

        a {
            display: block;
            margin: 17px 0;
            text-align: center;
            font-size: 22px;
            line-height: 1.3;
        }
    }

    .sh-bottom-part {
        overflow: hidden;
        max-height: 0px;
        margin: 0;
        padding: 0;
        border-top: 0px solid rgba(255, 255, 255, .15);
        transition: max-height .5s  ease-in, padding .5s  ease-in, border-width .2s  ease-in;

        &--mobile-open {
            max-height: 10000px;
            padding: 15px 0;
            border-top: 1px solid rgba(255, 255, 255, .15);
            transition: max-height .5s  ease-out, padding .5s  ease-out, border-width .2s  ease-out;
        }
    }

    .sh-tp-contact {
        margin-left: 0;
        padding-top: 0;
    }

    .sh-top-logo-wrap {
        flex-grow: 0;
    }

    .sh-top-logo-wrap__logo {
        margin-right: 0;
    }

}

@media screen and(max-width:600px) {
    .sh-tp-contact {
        display: none;
    }

    .sh-top-logo-wrap {
        margin-right: 50%;
        transform: translateX(50%);

        &__logo {
            height: 54px;
            width: unset;
        }

    }
}

@media screen and(max-width:400px) {
    .sh-top-logo-wrap {
        margin-right: 0;
        transform: none;


    }
}
