.site-header {
    position: sticky;
}

.sh-top-part {}

.sh-top-logo-wrap {
    &__logo {}

    &__info {}

    img {}

    &:hover {}

    &:active {}

    &:focus {}
}

.sh-tp-addr {
    a {
        &:hover {}

        &:active {}

        &:focus {}
    }
}

.sh-bottom-part {}

.site-header-menu.container {
    display: flex;
    a {

        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;

        transition-duration: .2s;
        &:hover {
            opacity: .8;
        }

        &:active {}

        &:focus {}
    }
}
